/* Global Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Biryani', sans-serif;
}

.float-right {
  float: right;
}

.rounded-corners {
  border-radius: 5px;
}

.white {
  background-color: #fff;
}

.light-grey {
  background-color: #F5F5F5;
}

.column {
  display: inline-block;
  vertical-align: top;
}

.row {
  display: block;
  overflow: auto;
}

.row-space-between {
  display: inline-block;
  text-align: justify;
  width: 100%;
}

.row-space-between:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.overflow-scroll {
  overflow: scroll;
}

/* Document Styles */

nav {
  position: absolute;
  height: 100%;
  width: 75px;
}

main {
  margin-left: 75px;
  height: 100vh;
  overflow: scroll;
}

button {
  background-color: #1CA3BA;
  border-color: #1CA3BA;
  border-radius: 15px;
  color: #fff;
  display: inline-block;
  padding: 1.125% 5% 0.25% 5%;
  font-size: 13px;
}

button:hover {
  background-color: #188497;
}

.inactive-button {
  background-color: #fff;
  color: #1CA3BA;
  border-color: #1CA3BA;
}

.inactive-button:hover {
  color: #EEEEEE;
  border: solid 1px #eee;
  background-color: #157181;
}

.nav-logo {
  width: 100%;
  padding: 7.5%;
  margin-top: 25%;
  position: absolute;
}

.nav-ul {
  margin-top: 42vh;
}

.nav-links {
  text-align: center;
  padding: 5% 20%;
  border-left: solid 2px white;
}

.nav-links:hover {
  border-left: solid 2px #1CA3BA;
}

.page-title {
  margin-left: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 1%;
  font-size: 25px;
}

.primary-content {
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 45%;
  min-width: 400px;
  max-height: 82.5vh;
}

.welcome-banner {
  position: relative;
  background: linear-gradient(to right, #8ED1DC, #E3F4F6);
  height: 15vh;
  min-height: 100px;
  vertical-align: middle;
  margin-bottom: 5%;
}

.welcome-banner h4 {
  font-size: 18px;
  top: 37.5%;
  left: 5%;
  display: inline-block;
  position: absolute;
}

.banner-close-button {
  position: absolute;
  top: 0;
  right: 1.5%;
  padding: 0.5% 1%;
  margin: 0.5% 1%;
  font-size: 25px;
}

.dashboard-card {
  width: 13vw;
  min-width: 150px;
  height: 13vh;
  min-height: 75px;
  margin-bottom: 2.5%;
}

.dashboard-card h5 {
  font-size: 10px;
  margin-left: 7.5%;
  margin-top: 12.5%;
}

.dashboard-card p {
  margin-left: 7.5%;
  font-size: 18px;
}

.account {
  margin: 2.5% 0;
  height: 7.5vh;
  min-height: 50px;
}

.account img {
  height: 100%;
  padding: 1%;
  margin-left: 2.5%;
  vertical-align: middle;
}

.account-name {
  display: inline-block;
  margin-left: 9%;
  margin-right: 5%;
  width: 25%;
  font-size: 1em;
  vertical-align: middle;
}

.account-type {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20.5%;
}

.secondary-content {
  margin-left: 2.5%;
  width: 42.5%;
  min-width: 400px;
  margin-bottom: 5%;
  max-height: 82.5vh;
  overflow: scroll;
}

.secondary-title {
  display: inline-block;
}

.transactions-table {
  margin: 5%;
  width: 90%;
  border-collapse: collapse;
}

.transactions-table th {
  text-align: left;
  padding-bottom: 20px;
}

.transactions-table td {
  border-bottom: solid 1px black;
  padding: 1% 0;
}

.transactions-button {
  margin-top: 2.5%;
  margin-left: 5%;
  vertical-align: super;
}

.transactions-label {
  margin-left: 5%;
  margin-top: 4%;
  width: 50%;
}

.transactions-header {
  display: block;
  margin-left: 2.5%;
  margin-top: 2.5%;
}

.transactions-header-wrapper {
  width: 46.25%;
  min-width: 400px;
  overflow: auto;
}

.transactions-header h1 {
  display: inline-block;
  margin-left: 0;
  margin-top: 0;
}

.transactions-header button {
  font-size: 10px;
  width: 110px;
  vertical-align: middle;
  float: right;
  margin-top: 10px;
  margin-left: 1%;
  margin-bottom: 5%;
}

.transactions-form h2 {
  margin: 5% 0 2.5% 5%;
  text-align: center;
}

.transactions-form input, label, select {
  display: block;
  margin: 0 auto;
  width: 75%;
}

.transactions-form label {
  margin-top: 1.5%;
}

.transactions-form button {
  margin: 3.5% 0 7.5% 12%;
}

/* Javascript Stuff */

.fade-out {
  animation: slideup 0.75s;
}

.hide {
  display: none;
}

@keyframes slideup {
  0% {
    height: 15vh;
    min-height: 100px;
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    height: 0;
    min-height: 0;
    opacity: 0;
    margin: 0;
  }
}

.active-nav {
  border-left: solid 2px #1CA3BA;
}

.logged-transaction-modal {
  position: relative;
  background-color: #E3FFD4;
  padding: 1%;
}

.transactions-modal-close-btn {
  position: absolute;
  top: 0;
  right: 2.5%;
}
